@font-face {
    font-family: 'AvenirNext LT Pro' ,sans-serif;
	src: url(./fonts/AvenirNextLTPro-Regular.otf);
}

.grid-container {
	display: grid;
	background-color: #18243f;
	width: 1000px;
}

.grid-item1 {
	background-color: #18243f;
	height: 50px;
}

.logo {
	width: 50px;
	height: 50px;
	margin-left: 5px;
}

ul.mainMenu {
	width: auto;
	float: right; 
	display: table;
	margin-top: 5px;
}

li {
	display: inline-block;
	padding: 15px 25px;
	margin-right: 15px;
	font-family: 'AvenirNext LT Pro' ,sans-serif;
	font-size: 16px;
}

li a {
	color: #cdac4e;
	text-decoration: none;
}

li a:hover {
	color: #3bb385;
}

